:root {
	--dark-blue: rgb(28, 34, 40);
	--dark-green: rgb(245, 118, 0);
	--tangerine: rgb(255,90,95);
	--tan: white;
	--metal: rgb(21, 25, 29);
	--light-gray: white;
	--light-blue: rgb(20, 182, 246);
	--cancel: rgb(255, 0, 0);
}
