@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Unica+One&display=swap');

:root {
	--blue: #00ADEF;
	--orange: #f38321;
	--red: #EF4123;
	--green: #A6CE39;
	--purple: #9980fa;
	--yellow: #ffcb05;
	--off-white: #fcfcfc;
	--grey-level1: #3b4249;
	--grey-level2: #262e35;
	--grey-level3: #192026;
	--grey-level4: #13181D;

	--primary-interactive: var(--blue);
	--secondary-interactive: var(--orange);
	--success: var(--green);
	--warning: var(--yellow);
	--info: var(--purple);
	--cancel: var(--red);
	--header: var(--grey-level4);
	--primary-background: var(--grey-level3); 
	--card-background: var(--grey-level2);
	--secondary-background: var(--grey-level1);
	--text: var(--off-white);
	--disabled-text: #8e8e8e;

	--font-stack: "Quattrocento Sans", sans-serif;
	--font-headers: 'Unica One', sans-serif;
}

#app {
    flex: 1;
    }

html {
  background-color: var(--primary-background);
	overscroll-behavior-y: none;
}

body {
  font: 100% var(--font-stack);
  color: var(--text);
  background-color: var(--primary-background);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
	overscroll-behavior-y: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headers);
  text-transform: uppercase;
  color: var(--text);
}

/* This resets Vuetify v4 button labels to look like v3 */
.v-btn {
  text-transform: uppercase;
  letter-spacing: 0.0892857143em;
}

/*
 * Reset the container size breakpoints and width to vuetify v3 values
 */
.v-container {
  max-width: 100%;
}

@media (min-width: 960px) {
  .v-container {
    max-width: 900px;
  }
}

@media (min-width: 1280px) {
  .v-container {
    max-width: 1200px;
  }
}

@media (min-width: 1920px) {
  .v-container {
    max-width: 1800px;
  }
}

@media (min-width: 2560px) {
  .v-container {
    max-width: 2400px;
  }
}

footer.footer {
    background-color: var(--header);
}

/*
 * These are some of the overrides from Bulma we used in headers
 */
@layer app-reset {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.75em;
  }
  h3 {
    font-size: 2.25em;
  }
  h4 {
    font-size: 1.75em;
  }
  h5 {
    font-size: 1.125em;
  }

  /*
   * Previously inherited from Bulma
   */
  h1, h2, h3, h4, h5, h6,
  hr, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
  }

  ul {
    list-style: none;
  }

  button, input, select, textarea {
    margin: 0;
  }

  img, video {
    height: auto;
    max-width: 100%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td, th {
    padding: 0;
  }
}

p {
    font-size: 1.2rem;
    color: var(--text);
}

.prevent-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.single-line-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.datalab-site-menu {
	font-family: var(--font-headers);
	text-transform: uppercase;
	background-color: var(--green);
}

.navbar-link:not(.is-arrowless):after {
	border-color: var(--grey-level3);
	inset-inline-end: 1.125em;
	margin-top: -0.375em;
	font-size: 50%;
}
