@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Unica+One&display=swap');

:root {
	--blue: #00ADEF;
	--orange: #f38321;
	--red: #EF4123;
	--green: #A6CE39;
	--purple: #9980fa;
	--yellow: #ffcb05;
	--off-white: #fcfcfc;
	--grey-level1: #3b4249;
	--grey-level2: #262e35;
	--grey-level3: #192026;
	--grey-level4: #13181D;

	--primary-interactive: var(--blue);
	--secondary-interactive: var(--orange);
	--success: var(--green);
	--warning: var(--yellow);
	--info: var(--purple);
	--cancel: var(--red);
	--header: var(--grey-level4);
	--primary-background: var(--grey-level3); 
	--card-background: var(--grey-level2);
	--secondary-background: var(--grey-level1);
	--text: var(--off-white);
	--disabled-text: #8e8e8e;

	--font-stack: "Quattrocento Sans", sans-serif;
	--font-headers: 'Unica One', sans-serif;

	--bulma-tabs-link-active-border-bottom-color : var(--blue);
	--bulma-tabs-link-active-color: var(--blue);
	--bulma-navbar-height: 64px;
}

#app {
    flex: 1;
    }

html {
  background-color: var(--primary-background);
	overscroll-behavior-y: none;
}

body {
  font: 100% var(--font-stack);
  color: var(--text);
  background-color: var(--primary-background);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
	overscroll-behavior-y: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headers);
  text-transform: uppercase;
  color: var(--text);
}

footer.footer {
    background-color: var(--header);
}

h1 {
    font-size:3.5em;
  }
  h2 {
    font-size:2.75em;
}
  h3 {
    font-size:2.25em;
  }
  h4{
    font-size:1.75em;
  }
  h5{
    font-size: 1.125em;
  }

p {
    font-size: 1.2rem;
    color: var(--text);
}

.prevent-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.single-line-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.datalab-site-menu {
	font-family: var(--font-headers);
	text-transform: uppercase;
	background-color: var(--green);
}

.navbar-link:not(.is-arrowless):after {
	border-color: var(--grey-level3);
	inset-inline-end: 1.125em;
	margin-top: -0.375em;
	font-size: 50%;
}
